$color_light_xl: #ffffff;
$color_light_l: #f6f6f6;
$color_light_s: #fafafa;
$color_dark_s: #cdcdcd;
$color_dark_m: #b2b2b2;
$color_dark_l: #545454;
$color_dark_xl: #4c4c4c;
$color_dark_2xl: #444444;
$color_dark_3xl: #292929;
$color_primary: #f1cdb3;
$color_primary_light: #fddcc4;

$font_family_title: 'Arial', 'Helvetica', sans-serif;
$font_family_paragraph: 'Georgia', 'Times', serif;
