<section class="donation">
  <div class="donation__row wrapper">
    <div class="donation__col1">
      <img src="~@public/assets/images/donation-dog.png" alt="donation" />
    </div>
    <div class="donation__col2">
      <h3 class="donation__title">You can also make a donation</h3>
      <p class="donation__caption"">
        Name of the bank / Type of bank account
      </p>
      <a href="javascript: void(0);" class="donation__card">
        <img src="~@public/assets/images/icons/credit-card.svg" alt="card" />
        <span class="donation__number"> 8380 2880 8028 8791 7435 </span>
      </a>
      <p class="donation__legal">
        Legal information and lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed
        ac diam. Praesent ultrices maximus tortor et vulputate. Interdum
        et malesuada fames ac ante ipsum primis in faucibus.
      </p>
    </div>
  </div>
</section>
