<section class="help" id="help">
  <div class="wrapper">
    <h3 class="help__title">How you can help our shelter</h3>
    <ul class="help__list">
      <li class="help__item">
        <img src="~@public/assets/images/icons/icon-pet-food.svg" alt="" />
        <span class="help__text">Pet food</span>
      </li>
      <li class="help__item">
        <img
          src="~@public/assets/images/icons/icon-transportation.svg"
          alt=""
        />
        <span class="help__text">Transportation</span>
      </li>
      <li class="help__item">
        <img src="~@public/assets/images/icons/icon-toys.svg" alt="" />
        <span class="help__text">Toys</span>
      </li>
      <li class="help__item">
        <img
          src="~@public/assets/images/icons/icon-bowls-and-cups.svg"
          alt=""
        />
        <span class="help__text">Bowls and cups</span>
      </li>
      <li class="help__item">
        <img src="~@public/assets/images/icons/icon-shampoos.svg" alt="" />
        <span class="help__text">Shampoos</span>
      </li>
      <li class="help__item">
        <img src="~@public/assets/images/icons/icon-vitamins.svg" alt="" />
        <span class="help__text">Vitamins</span>
      </li>
      <li class="help__item">
        <img src="~@public/assets/images/icons/icon-medicines.svg" alt="" />
        <span class="help__text">Medicines</span>
      </li>
      <li class="help__item">
        <img
          src="~@public/assets/images/icons/icon-collars-leashes.svg"
          alt=""
        />
        <span class="help__text">Collars / leashes</span>
      </li>
      <li class="help__item">
        <img src="~@public/assets/images/icons/icon-sleeping-area.svg" alt="" />
        <span class="help__text">Sleeping areas</span>
      </li>
    </ul>
  </div>
</section>
