<section class="house">
  <%- include('../components/header.ejs', {whiteSticky: false}) %>
  <div class="wrapper">
    <div class="house__row">
      <div class="house__col1">
        <h2 class="house__title">Not only people need a house</h2>
        <p class="house__description">
          We offer to give a chance to a little and nice puppy with an extremely
          wide and open heart. He or she will love you more than anybody else in
          the world, you will see!
        </p>
        <a
          href="#our-friends"
          class="house__button"
          data-smooth-id="our-friends"
          >Make a friend</a
        >
      </div>
      <div class="house__col2">
        <img
          src="~@public/assets/images/start-screen-puppy.png"
          alt="not only people need a house"
          width="698"
          height="728"
        />
      </div>
    </div>
  </div>
</section>
