<div class="pet-card" data-pet-id="<%= pet.id %>">
  <img src="<%= pet.src %>" alt="<%= pet.name %>" />
  <div class="pet-card__text">
    <h4 class="pet-card__title"><%= pet.name %></h4>
    <a href="javascript: void(0);" class="pet-card__button">Learn more</a>
  </div>
</div>
